body {
    background-color: #0d1117;
    color: #fff;
}

.navbar {
    background-color: #161b22;
    padding: 20px;
}

.body-part {
    padding-top: 50px;
}

input {
    background-color: #161b22 !important;
    border: 1px solid gray !important;
    color: #fff !important;
}

button{
    margin-top: 30px;
    margin-bottom: 30px;
}